/* Layer order declaration */
@layer root, fonts, reset, base, utilities, animations;

@layer fonts {
	@font-face {
		font-family: 'Creepster';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/Creepster-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Fira';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Fira SemiBold';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/FiraSans-SemiBold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Fira Black';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/FiraSans-Black.ttf') format('truetype');
	}
}

@layer reset {
	@view-transition {
		navigation: auto;
	}

	* {
		scrollbar-color: var(--color-accent) var(--color-secondary);
	}
}

@layer root {
	:root {
		/* fonts */
		--font-regular: 'Fira', sans-serif;
		--font-semibold: 'Fira SemiBold', sans-serif;
		--font-bold: 'Fira Black', sans-serif;
		--font-title: 'Creepster', sans-serif;
		--radius: 5px;

		/* colors */
		/* --color-primary: hsl(0, 0%, 94%); */
		--color-primary: oklab(0.94 0 0);
		/* --color-fade-primary: hsl(0, 0%, 74%); */
		--color-fade-primary: oklab(0.74 0 0);
		/* --color-secondary: hsl(300, 33%, 9%); */
		--color-secondary: oklab(0.19 0.06 -0.05);
		/* --color-accent: hsl(320, 75%, 66%); */
		--color-accent: oklab(0.73 0.16 -0.05);
		/* --color-lighter-accent: hsl(320, 75%, 86%); */
		--color-lighter-accent: oklab(0.86 0.1 -0.03);
		/* --color-success: hsl(134, 61%, 41%); */
		--color-success: oklab(0.56 -0.16 0.09);
		/* --color-danger: hsl(354, 70%, 54%); */
		--color-danger: oklab(0.63 0.18 0.09);
		/* --color-warning: hsl(45, 100%, 51%); */
		--color-warning: oklab(0.81 0.01 0.15);
		/* --color-info: hsl(188, 78%, 41%); */
		--color-info: oklab(0.64 -0.12 -0.06);
		/* --color-light: hsl(210, 17%, 96%); */
		--color-light: oklab(0.96 0 -0.01);
		/* --color-dark: hsl(210, 10%, 23%); */
		--color-dark: oklab(0.31 0 -0.01);
		/* --color-gray: hsl(0, 0%, 50%); */
		--color-gray: oklab(0.5 0 0);
		/* --color-white: hsl(0, 0%, 100%); */
		--color-white: oklab(1 0 0);
		/* --color-black: hsl(0, 0%, 0%); */
		--color-black: oklab(0 0 0);

		/* sizes */
		--base-size: 1.2rem;
		--scale: 1.2;
		--radius: 5px;
		--xxl: calc(var(--xl) * var(--scale) * var(--scale));
		--xl: calc(var(--h1) * var(--scale) * var(--scale));
		--lg: calc(var(--h1) * var(--scale));
		--h1: calc(var(--h2) * var(--scale));
		--h2: calc(var(--h3) * var(--scale));
		--h3: calc(var(--h4) * var(--scale));
		--h4: calc(var(--h5) * var(--scale));
		--h5: calc(var(--h6) * var(--scale));
		--h6: var(--base-size);
		--sm: calc(var(--base-size) / var(--scale));
		--xs: calc(var(--sm) / var(--scale));

		--timing: 1s;
	}
}

@layer base {
	html {
		height: 100%;
		position: relative;
		overflow-x: hidden;
	}

	body {
		background-color: hsl(0, 0%, 100%);
		color: var(--color-secondary);
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		position: relative;
		overflow-x: hidden;
		overscroll-behavior: none;
		overflow-y: auto !important;
		-webkit-overflow-scrolling: touch;
		display: flex;
		flex-direction: column;
		line-height: 1.5;
		cursor: url('/icons/bat.svg'), auto;
		letter-spacing: 0px;
	}

	a {
		text-decoration: none;
		letter-spacing: 1px;
	}

	h1 {
		font-family: var(--font-title);
		font-size: clamp(var(--h4), 2vw, var(--h1));
		letter-spacing: -1px;
	}

	@supports (-webkit-touch-callout: none) {
		body,
		html {
			height: -webkit-fill-available;
		}
	}
}

@layer utilities {
	.indent {
		text-indent: 1rem;
	}

	.visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		overflow: hidden;
		width: 1px;
		height: 1px;
		white-space: nowrap;
	}
}

@layer animations {
	@media (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.product-card {
			transition: none !important;
		}

		.enlarged {
			animation: none !important;
		}

		.dropdown-content {
			animation: none !important;
		}

		.loading::after {
			animation: none !important;
			height: 4px;
			background: white;
		}

		::view-transition-group(*) {
			animation: none !important;
		}

		::view-transition-old(*) {
			animation: none !important;
			opacity: 0;
		}

		::view-transition-new(*) {
			animation: none !important;
			opacity: 1;
		}
	}
}
